# Fichiers générés localement (pas nécessaire de les committer pour les .tex compilés,
# mais site/pdf/ et site/corr/ DOIVENT être committés pour les PDFs déposés manuellement)
site/ressources.json

# Fichiers LaTeX temporaires
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# Système
.DS_Store
