# Fichiers générés localement
# (site/ressources.json est temporairement suivi par git pour faciliter le débogage)

# Fichiers LaTeX temporaires
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz

# Système
.DS_Store
